* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flexbox;
    clear: both;
    background-color: #f2f7f8;
}

/*---------------password area----------------*/
fieldset.flexbox{
    text-align: center;
    display: flexbox;
    border: none;
}fieldset.flexbox input{
    border: none;
    font-size: 1.6em;
    text-align: left;
    line-height: 2em;
    width: 100%;
    float: left;
}

#progress-bar_ {
    position: relative;
    top: 20px;
    right: 20px;
    width: 115%;
    height: 5px;
    transition: 2s;
}
/*--------------------------------------------------*/

/*------------------ containers -----------------*/
#container-menu {
    padding: 30px;
    text-align: center;
    background-color: #6e1d8f;
}

.container {
    overflow: hidden;
    width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #7e7e7e70;
}
/*--------------------------------------------*/

/*---------button 'GERAR' design------------*/
button {
    font-weight: bold;
    width: 60px;
    height: 60px;
    font-size: 100%;
    border: none;
    border-radius: 50%;
    color: #6e1d8f;
    background-color: #c9c8c87a;
    box-shadow: 1px 1px 5px  #6b6a6a9a;
    transition: 1s;
    cursor: pointer;
}button:hover{
    box-shadow: 1px 1px 5px  #6e1d8f;
}
section.center{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
/*------------------------------------*/

/*---------------footer---------------*/
footer {
    clear: both;
    text-align: center;
    padding: 68px;
}footer a{
    line-height: 2em;
    font-size: 1.3em;
    text-decoration: none;
    color: #631258;
}
/*--------------------------------------*/