:root {
    --bg-color-primary: #6e1d8f;
}

body {
    background-color: #f2f7f8;
}

.flexbox #copy-button {
    position: absolute;
    right: -20px;
    top: 12px;
    
}

/*menu navegation area*/
#container-menu {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-primary);
}

#container-menu #logo{
    display: block;
    margin-right: auto;
}

#container-menu .nav-bar{
    margin-left: auto;
}

#container-menu .nav-bar ul {
    display: flex;
}

#container-menu .nav-bar ul a {
    color: var(--bg-color-primary);
    background-color: #fff;
    padding: 8px;
    margin-right: 3px;
    border-radius: 10px;
    border: 1px solid #fff;
}#container-menu .nav-bar ul a:hover{
    transition: 500ms;
    background-color: var(--bg-color-primary);
    color: #fff;
}

#container-menu .nav-bar ul #active {
    color: #fff;
    background-color: var(--bg-color-primary);
}

/*---------------password area----------------*/
fieldset.flexbox{
    position: relative;
    text-align: center;
    border: none;
}fieldset.flexbox input{
    border: none;
    font-size: 1.6em;
    text-align: left;
    line-height: 2em;
    width: 100%;
}

#progress-bar_ {
    position: relative;
    top: 20px;
    right: 20px;
    width: 115%;
    height: 5px;
    transition: 2s;
}


/*------------------ containers -----------------*/
.container {
    overflow: hidden;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #7e7e7e70;
}

.box {
    font-size: 1.3em;
    margin: 0 auto;
}

.container .box h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 4px;
    width: 300px;
    
}

@media screen and (max-width: 568px) {
    #container-menu .nav-bar {
        margin: 10px auto;
    }

    #container-menu {
        flex-direction: column;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .box {
        font-size: 1.5em;
    }

    .container .box h2 {
        font-size: 1em;
    }
}

/*---------button 'GERAR' design------------*/
button {
    font-weight: bold;
    width: 60px;
    height: 60px;
    font-size: 100%;
    border: none;
    border-radius: 50%;
    color: var(--bg-color-primary);
    background-color: #c9c8c87a;
    box-shadow: 1px 1px 5px  #6b6a6a9a;
    transition: 1s;
    cursor: pointer;
}button:hover{
    box-shadow: 1px 1px 5px  var(--bg-color-primary);
}
section.center{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}


/*---------------footer---------------*/
footer {
    display: flex;
    align-items: center;
    clear: both;
    text-align: center;
    padding: 68px;
}footer h4{
    margin-left: auto;
    line-height: 2em;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--bg-color-primary);
}

