.box input[type=range]{
    width: 100%;
}

.box-second {
    width: 100%;
}

.box-second div {
    margin: 0 auto;
}

.pass-settings {
    font-weight: 300;
    font-size: 1.3em;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


/*input-numbers*/
.input-numbers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.box .input-numbers label {
    width: 50%;
}

.box .input-numbers div {
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.box .input-numbers div input[type=number] {
    appearance: text;
    height: 30px;
    width: 40px;
    text-align: center;
    font-size: 1em;
    margin-right: 10px;
}

/*mobile responsive*/
@media screen and (max-width:568px) {
    article .container {
        width: 100%;
    }

    .box-second div {
        width: 100%;
    }

    .pass-settings {
        border-top: 2px solid #ccc;
        padding-top: 5px;
    }

    .box .input-numbers .w-100 {
        width: 100%;
    }
}
