.box input[type=range]{
    margin-top: 10px;
    width: 100%;
}

.box-second {
    width: 100%;
}

.box-second div {
    margin: 0 auto;
}

.pass-settings {
    font-weight: 300;
    font-size: 1.3em;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/*mobile responsive*/
@media screen and (max-width:568px) {
    article .container {
        width: 100%;
    }

    .box-second div {
        width: 100%;
    }
    
    .pass-settings {
        margin: 10px auto;
        width: 100%;
        border-top: 2px solid #ccc;
        padding-top: 5px;
    }
}
